$color--white               : #FFFFFF;
$color--black               : #000000;
$color--79addc              : #79addc;
$color--yellow              : yellow;
$color--green               : green;
$color--red                 : red;

.color--white               { color: $color--white!important; }
.bg--white                  { background-color: $color--white!important; }
.br--white                  { border-color: $color--white!important; }

.color--black               { color: $color--black!important; }
.bg--black                  { background-color: $color--black!important; }
.br--black                  { border-color: $color--black!important; }

.color--79addc              { color: $color--79addc!important; }
.bg--79addc                 { background-color: $color--79addc!important; }
.br--79addc                 { border-color: $color--79addc!important; }

.color--yellow              { color: $color--yellow!important; }
.bg--yellow                 { background-color: $color--yellow!important; }
.br--yellow                 { border-color: $color--yellow!important; }

.color--red                 { color: $color--red!important; }
.bg--red                    { background-color: $color--red!important; }
.br--red                    { border-color: $color--red!important; }

.color--green               { color: $color--green!important; }
.bg--green                  { background-color: $color--green!important; }
.br--green                  { border-color: $color--green!important; }




